<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FrameModel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9FCB8B471DADDA3E00B6E744</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FCB8B601DADDA3F00B6E744</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FCB8B6B1DADDA3F00B6E744</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
